.task {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.taskData {
  background-color: #F2C18D;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  touch-action: none;
}

.drag-area {
  cursor: pointer;
  justify-self: end;
}

.remove {
  cursor: pointer;
  color: red;
}
